.navbar {
  background-color: white;
  border-bottom: 1px solid #cda45e;
  padding: 10px 20px;
  position: sticky;
  background-color: #2d2d30;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


.left, .center, .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.right {
  justify-content: flex-end;
}

.center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative; /* importante */
  z-index: auto;      /* o ningún z-index */
}

.searchBox {
  position: relative;
  width: 100%;
  max-width: 600px;
}


.searchBox input {
  background-color: #1e1e1e;
  width: 100%;
  padding: 8px 35px 8px 12px;
  border: 1px solid #cda45e;
  border-radius: 4px;
  font-size: 14px;
  color: #fffff0;
}

.searchBox input::placeholder {
  color: #fffff0;
}

.searchIcon {
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  color: #cda45e;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 20px; /* Aumenta el espacio entre íconos si hace falta */
  font-size: 18px;
  color: #cda45e;
  cursor: pointer;
  padding-right: 150px; /* <-- Agrega separación del borde derecho */
}

.categoryMenu {
  background-color: transparent;
  padding: 0.5rem 0;
}

.categoryMenu ul {
  display: flex;
  justify-content: center; /* centrado dentro del contenedor */
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.categoryMenu li a {
  color: #cda45e; /* dorado */
  text-decoration: none;
  font-weight: 500;
  font-family: inherit;
  transition: color 0.2s ease-in-out;
}

.categoryMenu li a:hover {
  color: #fff;
}

.searchResults {
  position: absolute; /* o fixed, según tu diseño */
  z-index: 9999;       /* importante para que esté al frente */
  background-color: #1c1c1c; /* o el color que uses */
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  top: 60px; /* o lo que necesites según el tamaño del navbar */
}


.searchResults li {
  padding: 0.5rem;
  color: #fffff0;
  cursor: pointer;
}

.searchResults li:hover {
  background-color: #3a3a3c;
}
